.text-align-center {
    text-align: center;
}

/*footer*/
footer {
    padding: 40px 0;
}

footer .copy {
    margin: 0;
}

/*home page*/
main.index {
    max-width: 1024px;
    margin: 0 auto;
}
main.index .title {
    padding: 20px 0;
}
main.index .article-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
main.index .article-list .article:first-child {
    margin: 0;
}
main.index .article-list .article {
    margin-top: 15px;
    font-size: 16px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
main.index .article-list .article .date {
    margin-right: 10px;
}
main.index .pagination {
    padding: 25px 0;
}
@media (max-width: 1064px) {
    main.index {
        margin: 0 20px;
    }
}



/*!*article page*!*/
/*#article {*/
/*    padding: 3rem 1.5rem;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/
/*#article {*/
/*    max-width: 960px;*/
/*    flex-grow: 1;*/
/*    flex-shrink: 0;*/
/*}*/
/*!*@media screen and (max-width: 1008px) {*!*/
/*!*    #article {*!*/
/*!*        margin: 0 24px;*!*/
/*!*    }*!*/
/*!*}*!*/

/*!*#article .title {*!*/
/*!*    word-break: break-all;*!*/
/*!*}*!*/
/*!*#article .content {*!*/
/*!*    margin-top: 30px;*!*/
/*!*}*!*/




/* highlight start */
/* https://github.com/highlightjs/highlight.js/blob/9.16.2/src/styles/tomorrow.css */

/* Tomorrow Comment */
.hljs-comment {
    color: #228b22;
}
.hljs-quote {
    color: #8e908c;
}

/* Tomorrow Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
    color: #c82829;
}

/* Tomorrow Orange */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
    color: #f5871f;
}

/* Tomorrow Yellow */
.hljs-attribute {
    color: #eab700;
}

/* Tomorrow Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
    color: #718c00;
}

/* Tomorrow Blue */
.hljs-title,
.hljs-section {
    color: #4271ae;
}

/* Tomorrow Purple */
.hljs-keyword,
.hljs-selector-tag {
    color: #8959a8;
}

.hljs {
    display: block;
    overflow-x: auto;
    background: white;
    color: #4d4d4c;
    padding: 0.5em;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}
/* highlight end */
